<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
    <meta name="google-site-verification" content="82P-GbkbB32JKs6OJ4ElchnmPSy-cEkVDGl1sByTLPY" />
    <title> bid </title>
    <link rel="stylesheet" type="text/css" href="/static/core.css" />
    <!-- Bootstrap -->
    <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Libraries -->
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26817395-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    
    <!-- start Mixpanel -->
    <script type="text/javascript">var mpq=[];mpq.push(["init","c7809be44fa671f5c5dca6a5713521de"]);(function(){var b,a,e,d,c;b=document.createElement("script");b.type="text/javascript";b.async=true;b.src=(document.location.protocol==="https:"?"https:":"http:")+"//api.mixpanel.com/site_media/js/api/mixpanel.js";a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(b,a);e=function(f){return function(){mpq.push([f].concat(Array.prototype.slice.call(arguments,0)))}};d=["init","track","track_links","track_forms","register","register_once","identify","name_tag","set_config"];for(c=0;c<d.length;c++){mpq[d[c]]=e(d[c])}})();
    </script>
    <!-- end Mixpanel -->

</head>

<body>
<header>
    <div class="navbar navbar-inverse navbar-static-top ">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/">Bidcoin</a>
            <div class="nav-collapse collapse">
            <ul class="nav">
              {% if not logged_in %}
                <li><a href="/login/">Login</a></li>
                <li><a href="/register/">Register</a></li>
              {% else %}
                <p class="navbar-text pull-left">
                  <a href="/user/">{{current_user.get_id()}}</a>
                </p>
                <li><a href="/logout/">Logout</a></li>
                <li><a href="/request_charge">Buy Credits</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>
</header>

<table id="wrapper_top" class="clean">
<tr class="clean">
<td class="clean">
{% if not logged_in %}


<!--     still possibly useful but not needed since bootstrap
<div id="left_top">
        <div id="login_top" class="TopButton">
        <a href="/login/"> Login </a>
        </div>
    </div>

    <div id="right_top">    
        <div id="register_top" class="TopButton">
        <a href="/register/"> Register </a>
        </div>
    </div> -->
    
{% else %}
<!-- still possibly useful but not needed since bootstrap
    <div id="left_top">
        <div id="home_top" class="TopButton">
        <a href="/"> Home </a>
        </div>
        <div id="workers_top" class="TopButton">
        <a href="/user/workers"> Workers </a>
        </div>
    </div>

    <div id="right_top">
        <div id="pools_top" class="TopButton">
        <a href="/user/pools"> Pools </a>
        </div>
        <div id="logout_top" class="TopButton">
        <a href="/logout/"> Logout </a>
        </div>
    </div> -->
{% endif %}
</td>
</tr>
</table>
<br>
<div id="body">
{% block body %}
{% endblock %}
</div>
</body>

</html>
